@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Trispace:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Trispace', sans-serif;
    background-color: #F0FFFF;
}
/* navbar design  */
.navbar-brand{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 1.3em;
    letter-spacing: 2.6px;

}
.navbar-toggler{
    border: none;
    
}
.navbar-toggler:focus{
    box-shadow: none;
    
}
/* hamburger design  start*/
.menuIconHolder{
    width: 30px;
    height: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
}
.menuIconHolder span{
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: #444;
    border-radius: 12px;
    transition: all 0.4s;
  
    /* top: 5px;
    left: 5px; */
}
.menuIconHolder span:nth-child(1){
     transform: translateY(-8px);
}
.menuIconHolder span:nth-child(3){
     transform: translateY(8px);
}
.openMenu span:nth-child(1).one{
    /* transform: translateY(-11px); */
     transform: rotate(135deg); 
}
.openMenu span:nth-child(2).two{
    /* transform: translateY(-11px); */
     transform: scale(0); 
}
.openMenu span:nth-child(3).three{
    /* transform: translateY(-11px); */
     transform: rotate(-135deg); 
}

/* hero section start here  */

.heroSection{
    min-height: 94vh;
    width: 100%;
    background: url(../images/home-wave.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}
.heroImg{
    position: relative;
}
.heroImg img{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

/* media queries  */

@media only screen and (max-width: 768px) {
    
    .heroImg img{
        width: 90%;
        top: 36px;
        left: 3%;
    }
    .heroSection{
        text-align: center;
    }
   
}
@media only screen and (max-width:576px){
    .heroSection{
        background-size: cover;
    }
}